{% extends "cis/base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ MYCE_SETTINGS.site_name }} - Confirm Email Verification{% endblock %}

{% block body %}
<main role="main" id="content">
    <div class="container bg-light pt-3 pb-3">
        <div class="row">
            {% if messages %}
            <div class="col-md-12">
                <ul class="messages list-group">
                    {% for message in messages %}
                    <li{% if message.tags %} class="list-group-item {{ message.tags }}" {% endif %}>
                        {{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div class="col-md-12 mt-3">
                {{intro|safe}}
            </div>

            <div class="col-md-12 pt-3 pb-3">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Confirm & Continue" name="submit_verify"
                        class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
