{% extends base_template %}

{% block title %}Add Note{% endblock %}

{% load templatehelpers %}
{% load crispy_forms_tags %}

{% block body %}
{% if ajax != '1' %}
<div class="">
    <div class="row">
        <div class="col">
            <h1 class="h3 mt-3 text-gray-800 mb-3">Add New Note</h1>
        </div>
    </div>
</div>
{% endif %}

{% if ajax != '1' %}
<main>
    <div class="row">
        <div class="col-md-6 col-sm-12 mb-4">
{% endif %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Add Note: {{ record }}</h3>
                    <div class="card-text">
                        <form action="{{ form_action|safe }}" id="form_add_note" method="post" class="frm_bulk_action">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <input type="hidden" name="action" value="add_note">
                            <input type="submit" class="btn btn-primary btn-sm" value="Save">
                            <input type="button" class="btn btn-sm" onclick="window.closeBulkActionModal()" value="Cancel & Close">
                        </form>
                    </div>
                </div>
            </div> <!-- end card -->
{% if ajax != '1' %}
        </div> <!-- end col-md-6 -->
    </div> <!-- end row -->
</main>
{% endif %}

{% endblock %}
